*{
    margin: 20px;
    padding: 5px;
}
body{
    background-image: url(../Imágenes/fondo2.jpg);
    font-family: Arial, Helvetica, sans-serif;
  
}
.container{
    box-sizing: border-box;
    margin: 2px auto;
    border: 2px double lightslategray;
    
 }
h1{
    width: 500px;
    left: 400px;
    text-align: center;
    height: auto;
    display: block;
    margin: 0;
    float: none;
    position: relative;
    background: #14333c !important;
    color: #eee;
    text-transform: uppercase;

 }
h2{
    background: black;
    width: 100px;
    text-align: center;

    margin: 0;
    float: none;
    position: relative;

    color: #eee;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #566c73 ;


}
h3{
    border-bottom: 1px solid #eee;
    color: #eee;
    text-transform: uppercase;
}

p{
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: lightgrey;

}
.tex{
    text-transform: capitalize;
}

img{
    display: block;
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin: 90px auto;
    border: 3px solid lightblue;
    border-radius: 60px 20px 60px 20px;
}