*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.5);
    
    
      
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh !important;
    background: url(../Imágenes/PantallasP.png) no-repeat center;
    background-size: cover;
}





.title {
    margin-bottom: 70px;
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: blueviolet;
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color:black;
      
}

.titulo {
    margin-bottom: 70px;
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: blueviolet;
    background-color: aliceblue;
    text-decoration: underline;
    text-decoration-color:black;
}

.card .img-container {
    background-image: url(../Imágenes/Cuerpo.png);
    height: 300px;
    width: 300px;
    float: right;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 150px;

}

.content .img-container {
    background-image: url(../Imágenes/pc.png);
    height: 300px;
    width: 300px;
    float: right;
    border: 5px solid black;
    border-radius: 20px;
    margin-right: 100px;
}


.h5{
    color: black;
    font-size: 20px;
}


p {
    margin-bottom: 40px;
    font-size: 28px;
    color:black;
    padding: 0 100px;
    text-align: justify;
    font-weight: bold;
}


.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 17rem;
    width: 29rem;
    background-color: bisque;
    text-align: center;
    border-radius: 18rem;
    box-shadow: 0 .3px 5rem red(0, 0 , 0, .3);
    margin: 28px;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: antiquewhite;
    background-color: black;
    font-size: 2rem;
    margin: 1rem 0;

}



.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
    }


.contenedor{
    display: flex;
    justify-content: center;
}






